body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000c28;
}

.scene {
  display: block;
}

text {
  text-anchor: middle;
}

.node {
  fill: #7eadc3;
}

.face {
  fill: #152347;
}

.edge {
  stroke: #1b3e64;
  stroke-width: 9;
  cursor: pointer;
}

.scene:not(.scene--drawing) .edge:hover {
  stroke: #2c719f;
}

.edge--active {
  stroke: #d8e5eb;
}

.scene:not(.scene--drawing) .edge--active:hover {
  stroke: #becfd7;
}
