body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000c28;
  font-size: 16px;
}

.toolbar {
  position: fixed;
  width: 100%;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  font-size: inherit;
  letter-spacing: 0.05em;
  background: none;
  padding: 0;
  border: none;
  color: #becfd7;
  padding: 0.5rem;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  color: #d8e5eb;
  cursor: pointer;
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
}

.scene {
  display: block;
}

text {
  text-anchor: middle;
}

.node {
  fill: #7eadc3;
}

.face {
  fill: #152347;
}

.edge {
  stroke: #1b3e64;
  stroke-width: 9;
  cursor: pointer;
}

.scene:not(.scene--drawing) .edge:hover {
  stroke: #2c719f;
}

.edge--active {
  stroke: #d8e5eb;
}

.scene:not(.scene--drawing) .edge--active:hover {
  stroke: #becfd7;
}
